.bg{
	/* background-image: url("../Background/bg-fix.jpg"); */
  background-color: #fff7f2;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
